<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTAAsVRHXtevcy7f2BpV3Y3fxNJ9H81fI</string>
	<key>GCM_SENDER_ID</key>
	<string>1061517609461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kketann.firebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>assignment-1ecbe</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-1ecbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061517609461:ios:cf536f1aca122e5e30f8bc</string>
</dict>
</plist>